In [ ]:
1. Create a function that takes a list and returns a new list containing only prime numbers.

Examples

filter_primes([7, 9, 3, 9, 10, 11, 27]) ➞ [7, 3, 11]

filter_primes([10007, 1009, 1007, 27, 147, 77, 1001, 70]) ➞ [10007, 1009]

filter_primes([1009, 10, 10, 10, 3, 33, 9, 4, 1, 61, 63, 69, 1087, 1091, 1093, 1097]) ➞ [1009, 3, 61, 1087, 1091, 1093, 1097]

In [22]:
def filter_primes(lst):
    lst1 = []
    for i in lst:
        if i > 1:
            for j in range(2,i):
                if i%j == 0:
                    break
            else:
                lst1.append(i)
    return lst1

In [23]:
filter_primes([7, 9, 3, 9, 10, 11, 27])

[7, 3, 11]

In [24]:
filter_primes([10007, 1009, 1007, 27, 147, 77, 1001, 70])

[10007, 1009]

In [25]:
filter_primes([1009, 10, 10, 10, 3, 33, 9, 4, 1, 61, 63, 69, 1087, 1091, 1093, 1097])

[1009, 3, 61, 1087, 1091, 1093, 1097]

In [ ]:
2. Once a water balloon pops, is soaks the area around it. The ground gets drier the further away you travel from the balloon.

The effect of a water balloon popping can be modeled using a list. Create a function that takes a list which takes the pre-pop state and returns the state after the balloon is popped. The pre-pop state will contain at most a single balloon, whose size is represented by the only non-zero element.

Examples

pop([0, 0, 0, 0, 4, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4, 3, 2, 1, 0]

pop([0, 0, 0, 3, 0, 0, 0]) ➞ [0, 1, 2, 3, 2, 1, 0]

pop([0, 0, 2, 0, 0]) ➞ [0, 1, 2, 1, 0]

pop([0]) ➞ [0]

In [44]:
def pop(lst):
    length = int(len(lst)/2)
    lst_after = [0 for i in range(len(lst))]
    lst_after[length] = lst[length]
    count =  1
    for i in range(length-1,-1, -1):
        lst_after[i] = lst[length] - count 
        count += 1
    count = 1
    for i in range(length+1,len(lst)):
        lst_after[i] = lst[length] - count 
        count += 1
    return lst_after

In [46]:
pop([0, 0, 0, 0, 4, 0, 0, 0, 0])

[0, 1, 2, 3, 4, 3, 2, 1, 0]

In [47]:
pop([0, 0, 0, 3, 0, 0, 0])

[0, 1, 2, 3, 2, 1, 0]

In [48]:
pop([0, 0, 2, 0, 0])

[0, 1, 2, 1, 0]

In [49]:
pop([0])

[0]

3. "Loves me, loves me not" is a traditional game in which a person plucks off all the petals of a flower one by one, saying the phrase "Loves me" and "Loves me not" when determining whether the one that they love, loves them back.

Given a number of petals, return a string which repeats the phrases "Loves me" and "Loves me not" for every alternating petal, and return the last phrase in all caps. Remember to put a comma and space between phrases.

Examples

loves_me(3) ➞ "Loves me, Loves me not, LOVES ME"

loves_me(6) ➞ "Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT"

loves_me(1) ➞ "LOVES ME"

In [151]:
def loves_me(n):
    empty_str = ""
    if n == 1:
        empty_str =empty_str+ 'LOVES ME'
        return empty_str
    for j,i in enumerate(range(1,n+1),start=1):
        if i % 2 == 0:
            empty_str = empty_str + 'Loves me not,'
        if i % 2 != 0:
            empty_str = empty_str + 'Loves me,'

    final_lst = empty_str.split(sep=',')
    del final_lst[-1]
    final_lst[-1] = final_lst[-1].upper()
    str1 = ""
    for i,ele in enumerate(final_lst):
        if i == len(final_lst) - 1:
            str1 += ele 
        else:
            str1 += ele + ','
    return str1

In [152]:
loves_me(3)

'Loves me,Loves me not,LOVES ME'

In [153]:
loves_me(6)

'Loves me,Loves me not,Loves me,Loves me not,Loves me,LOVES ME NOT'

In [154]:
loves_me(1)

'LOVES ME'

In [155]:
loves_me(9)

'Loves me,Loves me not,Loves me,Loves me not,Loves me,Loves me not,Loves me,Loves me not,LOVES ME'

4. Write a function that sorts each string in a list by the letter in alphabetic ascending order (a-z).

Examples

sort_by_letter(["932c", "832u32", "2344b"])
➞ ["2344b", "932c", "832u32"]

sort_by_letter(["99a", "78b", "c2345", "11d"])
➞ ["99a", "78b", "c2345", "11d"]

sort_by_letter(["572z", "5y5", "304q2"])
➞ ["304q2", "5y5", "572z"]

sort_by_letter([])
➞ []

In [352]:
def sort_by_letter(l):
    import re
    count = 0
    lst = [] 
    for i in l:
        count += 1
        alphabet = re.findall("[a-zA-Z]+",i)
        for i in alphabet:
            ascii = ord(i)
        lst.append((i,ascii,count))
    s_list = sorted(lst)
    final_lst = []
    for i in s_list:
        order = i[2] - 1
        final_lst.append(l[order])
    return(final_lst)

In [353]:
sort_by_letter(["932c", "832u32", "2344b"])

['2344b', '932c', '832u32']

In [354]:
sort_by_letter(["99a", "78b", "c2345", "11d"])

['99a', '78b', 'c2345', '11d']

In [355]:
sort_by_letter(["572z", "5y5", "304q2"])

['304q2', '5y5', '572z']

In [356]:
sort_by_letter([])

[]

5. There are three cups on a table, at positions A, B, and C. At the start, there is a ball hidden under the cup at position B.






However, I perform several swaps on the cups, which is notated as two letters. For example, if I swap the cups at positions A and B, I could notate this as AB or BA.

Create a function that returns the letter position that the ball is at, once I finish swapping the cups. The swaps will be given to you as a list.

Example

cup_swapping(["AB", "CA", "AB"]) ➞ "C"

# Ball begins at position B.
# Cups A and B swap, so the ball is at position A.
# Cups C and A swap, so the ball is at position C.
# Cups A and B swap, but the ball is at position C, so it doesn't move.

In [2]:
def cup_swapping(lst):
    d = {'A': False, 'B': True, 'C': False}

    ball = str
    for i in lst:
        if d[i[0]] == True:
            ball = i[1] 
            d[i[1]] = True
            d[i[0]] = False
        elif d[i[1]] == True:
            ball = i[0]
            d[i[1]] = False
            d[i[0]] = True
    return ball

print(cup_swapping(["AB","CA","AB"]))

C

str