# Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

In [2]:
def numeric(equation):
    lx = equation.split()
    ly = []
    for i in lx:
        if i.isdigit():
            ly.append(int(i))
            
    
    if '+' in equation:
        x = ly[0] + ly[1]
    elif '-' in equation:
        x = ly[0] - ly[1]
    elif '*' in equation:
        x = ly[0] * ly[1]
    elif '//' in equation:
        if ly[1] == 0:
            return -1
        else:
            x = ly[0] // ly[1]
    return x


n2 = input("Enter numbers followed by a space: ")

numeric(n2)

Enter numbers followed by a space: 12 + 13687

13699

In [3]:
numeric("12 * 13")

156

In [4]:
numeric("12 - 13")

-1

In [6]:
numeric("12 // 0")

-1

# Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

In [40]:
def per(*args):
    final = []
    for i in args:  
        final.extend(i)
            
    
    def distance(x1,y1,x2,y2):
        length = math.sqrt((x1-x2)**2 + (y1-y2)**2)
        return length
    
    len_a = distance(final[0][0],final[0][1],final[1][0],final[1][1])
    len_b = distance(final[1][0],final[1][1],final[2][0],final[2][1])
    len_c = distance(final[2][0],final[2][1],final[0][0],final[0][1])
    
    return len_a + len_b + len_c


    
        
per([[15, 7], [5, 22], [11, 1]])

47.07918859608948

In [41]:
per([[0, 0], [0, 1], [1, 0]])

3.414213562373095

In [42]:
per( [[-10, -10], [10, 10 ], [-10, 10]] )

68.2842712474619

# A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

In [1]:
def tallest(a):
    sum = 0
    for i in range(len(a)):
        if 1 in a[i]:
            sum += 1
    return sum
    
    
tallest([[0, 0, 0, 0, 0, 0],[0, 0, 0, 0, 1, 0],[0, 0, 1, 0, 1, 0],[0, 1, 1, 1, 1, 0],[1, 1, 1, 1, 1, 1]])

4

In [2]:
tallest([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1,1,1,1]])

3

In [4]:
tallest([[0, 0, 0, 0],[0, 0, 0, 0],[0, 1, 1, 0],[1,1,1,1]])

2

In [9]:
tallest([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])

4

# A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target. This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:
Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

In [82]:
def calcBonus(input_days):
    money = {32:0, 40:325, 48:550}
    days = [32, 40, 48]
    moreThan48 = 600
    prev = 0
    bonus = 0

    for day,x  in zip(days,money):
        print(day,x)
        tmp = day
        day -= prev
        prev = tmp
        if day < input_days:
            bonus += day*money[x]
            print(f"day {prev} = {bonus} bonus")
            input_days -= day
    
        else:
            bonus += input_days * money[x]
            input_days = 0


    if input_days != 0:
        bonus += input_days*moreThan48
        print(f"Rest = {bonus} bonus")

    return bonus


calcBonus(37)

32 32
day 32 = 0 bonus
40 40
48 48

1625

In [83]:
calcBonus(50)

32 32
day 32 = 0 bonus
40 40
day 40 = 2600 bonus
48 48
day 48 = 7000 bonus
Rest = 8200 bonus

8200

In [81]:
calcBonus(92)

32 32
day 32 = 0 bonus
40 40
day 40 = 2600 bonus
48 48
day 48 = 7000 bonus
Rest = 33400 bonus

33400

In [80]:
calcBonus(15)

32 32
40 40
48 48

0

In [ ]:
1^1+ 7^2 + 5^3 = 1+ 49 + 125 = 175

# A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself. Create a function that determines whether a number is a Disarium or not.

In [46]:
def is_disarium(l):
    
    l1 = str(l)
    sum = 0
    for pos,i in enumerate(l1,start=1):
        sum = sum + ((int(i))**pos)
    if sum == int(l1):
        return True
    else:
        return False

In [47]:
is_disarium(75)

False

In [49]:
is_disarium(135)

True

In [51]:
is_disarium(544)

False

In [53]:
is_disarium(518)

True

In [55]:
is_disarium(466)

False

In [57]:
is_disarium(8)

True

In [58]:
is_disarium(175)

True