Q-17. Write an SQL query to show the top n (say 10) records of a table.
Ans. SELECT TOP 8 SALARY FROM WORKERS;


Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
Ans. SELECT TOP 1 SALARY FROM (SELECT DISTINCT TOP 5 SALARY AS SALARY FROM WORKERS ORDER BY Salary DESC) AS WORKERES ORDER BY SALARY ASC;