Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.
Ans. Select RTRIM(FIRST_NAME) from Worker;

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.
Ans. Select DISTINCT LEN(DEPARTMENT) from Worker;

Q-3. Write an SQL query to fetch nth max salaries from a table.
Ans . SELECT TOP 1 SALARY FROM ( SELECT DISTINCT TOP 1 salary FROM WORKERS ORDER BY salary DESC ) AS temp ORDER BY salary