Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.
Ans. SELECT FIRST_NAME, SALARY, RANKING FROM ( SELECT FIRST_NAME, SALARY, RANK () OVER (PARTITION BY FIRST_NAME ORDER BY SALARY DESC) AS RANKING FROM WORKERS) AS WORKESS WHERE RANKING = 1;




Q-20. Write an SQL query to fetch the list of employees with the same salary.
Ans. Select distinct W.WORKER_ID, W.FIRST_NAME, W.SALARY from WORKERS W, WORKERS W1 where W.SALARY = W1.SALARY and W.WORKER_ID != W1.WORKER_ID;