# Q-13. Write an SQL query to show only odd rows from a table.
Ans. Select * from table where id % 2 = 1;

# Q-14. Write an SQL query to clone a new table from another table.
Ans. CREATE TABLE table_name AS SELECT * FROM table_name;;